
@{
    ViewData["Title"] = "Mis_Transferencias";
}

<h1>Mis Transferencias</h1>








@section Scripts{

    <script>

        $(document).ready(function () {

            $("li").removeClass("active");
            $("#li_Transferencias").addClass("active");

        });


    </script>
}
