
@{
    ViewData["Title"] = "Mis_Transferencias";
}

<style>


    .sombra_Jumbo {
        transition: 500ms;
    }

        .sombra_Jumbo:hover {
            box-shadow: #28a745 2px 1px 25px -3px;
        }
        .sombra_Jumbo:active {
            box-shadow: #28a745 2px 1px 25px -3px;
        }

</style>


<div class="jumbotron pt-4 sombra_Jumbo">


    <h3 class="mb-4">Realizar Transferencia</h3>
    <form id="Form_Transferencia">
        <div class="row">

            <div class="col-lg-4 col-sm-12">
                <label for="Cuenta_ID">#Cuenta Destino</label>
                <input id="Cuenta_ID" class="form-control" type="text" name="Cuenta_ID" placeholder="Introduzca el número de cuenta" required/>
            </div>

            <div class="col-lg-4 col-sm-12">
                <label for="Monto">Monto</label>
                <input id="Monto" class="form-control" type="text" name="Monto" placeholder="¿Qué cantidad desea transferir?" required/>

            </div>

            <div class="col-lg-4 col-sm-12">
                <button class="btn btn-success text-light" style="margin-top: 32px;">Siguiente</button>

            </div>

        </div>

    </form>


</div>






@section Scripts{

    <script>

        $(document).ready(function () {

            $("li").removeClass("active");
            $("#li_Transferencias").addClass("active");

        });

        //function Verificar_Transferencia() {

        //    ////var data = { Cuenta_Destino: $("#"), Monto: }

        //}


        $("#Form_Transferencia").submit(function () {

            var data = { Cuenta_Destino: $("#Cuenta_ID").val(), Monto: $("#Monto").val() }

            $.get("/Banking/Transferencias/Verificar_Transferencia", data).done(function (result) {

                if (result.title) {

                    Swal.fire({
                        title: result.title,
                        text: result.text,
                        icon: result.icon
                    })

                } else {
                    Swal.fire({
                        text: `¿Esta seguro/a que desea transferir RD$${data.Monto} a la cuenta #${data.Cuenta_Destino} de ${result.nombre_Completo}?`,
                        icon: "info",
                        title: `Transferencias`,
                        showCancelButton: true,
                        confirmButtonText: `Confirmar`,
                        confirmButtonColor: '#28a745',
                    }).then((result) => {
                        /* Read more about isConfirmed, isDenied below */
                        if (result.isConfirmed) {

                            $.post("/Banking/Transferencias/Realizar_Transferencia", data).done(function (result) {

                                Swal.fire({
                                    title: result.title,
                                    text: result.text,
                                    icon: result.icon
                                })

                                $("#Form_Transferencia")[0].reset();

                            });

                        }
                    })
                }
            
            });

            return false;
        });
    </script>
}
