
@{
    ViewData["Title"] = "Mis_Transferencias";
}

<style>


    .sombra_Jumbo {
        transition: 500ms;
    }

        .sombra_Jumbo:hover {
            box-shadow: #28a745 2px 1px 25px -3px;
        }
        .sombra_Jumbo:active {
            box-shadow: #28a745 2px 1px 25px -3px;
        }

</style>


<div class="jumbotron pt-4 sombra_Jumbo">


    <h3 class="mb-4">Realizar Transferencia</h3>
    <form id="Form_Transferencia">
        <div class="row">

            <div class="col-lg-3 col-sm-12">
                <label for="Cuenta_ID">#Cuenta Destino</label>
                <input id="Cuenta_ID" class="form-control" type="text" name="Cuenta_ID" placeholder="Introduzca el número de cuenta" required />
            </div>
            <div class="col-lg-3 col-sm-12">
                <label>Desde Mi Cuenta</label>
                <select class="form-control" id="Select_Mis_Cuenta">
                </select>
            </div>
            <div class="col-lg-3 col-sm-12">
                <label for="Monto">Monto</label>
                <input id="Monto" class="form-control" type="text" name="Monto" placeholder="¿Qué cantidad desea transferir?" required />

            </div>

            <div class="col-lg-4 col-sm-12">
                <button class="btn btn-success text-light" style="margin-top: 32px;">Siguiente</button>

            </div>

        </div>

    </form>


</div>

<div class="card card-success card-outline">

    <div class="card-header">

        <h4 class="text-light text-center ml-2 col-lg">Historial de Movimientos</h4>


    </div>
    <div class="card-body">
        <table id="Tabla_Movimientos" class="table table-responsive-lg table-hover w-100">
            <thead>
                <tr>
                    <th>Transf #</th>
                    <th>Fecha y Hora</th>
                    <th>Cta. Origen</th>
                    <th>Cta. Destino</th>
                    <th>Monto</th>
                </tr>
            </thead>
            <tbody>
                @*<tr>
                        <td>2041</td>
                        <td>28/03/2021 - 3:10 AM</td>
                        <td>0801235</td>
                        <td>0752081</td>
                        <td>RD$2,500.00</td>
                    </tr>
                    <tr>
                        <td>2042</td>
                        <td>28/03/2021 - 3:12 AM</td>
                        <td>0801235</td>
                        <td>0752081</td>
                        <td>RD$20,000.00</td>
                    </tr>*@


            </tbody>
        </table>
    </div>



</div>




@section Scripts{

    <script>

        $(document).ready(function () {

            $("li").removeClass("active");
            $("#li_Transferencias").addClass("active");

            Obtener_Mis_Transferencias();
            Obtener_Info_Cuentas_Desde_A_Pagar();
        });

        //function Verificar_Transferencia() {

        //    ////var data = { Cuenta_Destino: $("#"), Monto: }

        //}
        const formatter = new Intl.NumberFormat('en-US', {
            style: 'currency',
            currency: 'USD',
            minimumFractionDigits: 0
        })


        $("#Form_Transferencia").submit(function () {

            var data = { Cuenta_Destino: $("#Cuenta_ID").val(), Monto: $("#Monto").val(), Cuenta_Desde: $("#Select_Mis_Cuenta").val() }

            $.get("/Banking/Transferencias/Verificar_Transferencia", data).done(function (result) {

                if (result.title) {

                    Swal.fire({
                        title: result.title,
                        text: result.text,
                        icon: result.icon
                    })

                } else {
                    Swal.fire({
                        text: `¿Esta seguro/a que desea transferir RD$${data.Monto} a la cuenta #${data.Cuenta_Destino} de ${result.nombre_Completo}?`,
                        icon: "info",
                        title: `Transferencias`,
                        showCancelButton: true,
                        confirmButtonText: `Confirmar`,
                        confirmButtonColor: '#28a745',
                    }).then((result) => {
                        /* Read more about isConfirmed, isDenied below */
                        if (result.isConfirmed) {

                            $.post("/Banking/Transferencias/Realizar_Transferencia", data).done(function (result) {

                                Swal.fire({
                                    title: result.title,
                                    text: result.text,
                                    icon: result.icon
                                })

                                $("#Form_Transferencia")[0].reset();
                                Obtener_Mis_Transferencias();
                                Obtener_Info_Cuentas_Desde_A_Pagar();
                            });

                        }
                    })
                }
            
            });

            return false;
        });

        function Obtener_Mis_Transferencias() {

            $.get("/Banking/Transferencias/Obtener_Mis_Transferencias").done(function (result) {
                console.log(result);


                $("#Tabla_Movimientos").dataTable({
                    language: {
                        "lengthMenu": "Mostrar _MENU_ Registros",
                        "zeroRecords": "No se encontraron resultados",
                        "info": "_TOTAL_ transacciones en total.",
                        "infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                        "infoFiltered": "(filtrado de un total de _MAX_ registros)",
                        "sSearch": "<i class='fas fa-search'></i> Buscar:",
                        "oPaginate": {
                            "sFirst": "Primero",
                            "sLast": "Último",
                            "sNext": "Siguiente",
                            "sPrevious": "Anterior"
                        },
                        "sProcessing": "Procesando...",
                    },
                    "destroy": "true",
                    "bLengthChange": false,
                    "bInfo": true,
                    "searching": true,
                    data: result,
                    columns: [
                        {
                            "data": "transferencia_ID"
                        },
                        {
                            "data": "fecha_Transaccion", render: function (fecha) {
                                return moment(fecha).format('lll');
                            }
                        },
                        {
                            "data": "cuenta_Origen_ID"
                        },
                        {
                            "data": "cuenta_Destino_ID"
                        },
                        {
                            "data": "monto", render: function (monto) {
                                return `RD${formatter.format(monto)}`
                            }
                        }
                     
                    ],
                    responsive: "true"
                });


            });

        }

        function Obtener_Info_Cuentas_Desde_A_Pagar() {

            $.get("/Banking/Cuentas/Obtener_Info_Cuentas_Desde_A_Pagar").done(function (result) {

                $("#Select_Mis_Cuenta").empty();
                $.each(result.cuenta, function (i, item) {

                    var op = `<option value="${item.cuenta_ID}">${item.tipo_Cuenta} $${item.balance}</option>`;
                    $("#Select_Mis_Cuenta").append(op);
                })

                console.log(result);


            });

        }
    </script>
}
