
@{
    ViewData["Title"] = "Pagos";
}

<h1>Pagos</h1>










@section Scripts{

    <script>

        $(document).ready(function () {

            $("li").removeClass("active");
            $("#li_Pagos").addClass("active");

        });


    </script>
}
