
@{
    ViewData["Title"] = "Solicitar_Cuenta";
}

<style>

    .container_Botones{
        display: flex;
        justify-content: center;
    }

</style>

<div class="container" style="margin-top: 5rem !important;">

    <div class="row">
        <div id="Formulario_Solicitud_Cuenta" class="col-lg-6 col-sm-12" style="display:none;">
            <h1><i class="fas fa-wallet text-success"></i> Solicitar Cuenta</h1>

            <div class="col-12">
                <div class="row">
                    <div class="col-6">
                        <span>Tipo de Cuenta: </span>
                    </div>
                    <div class="col-6">
                        <select class="form-control" id="Campo_Tipo" required>
                            <option value="">Selecciona...</option>
                            <option value="Ahorro">Ahorro</option>
                            <option value="Credito">Crédito</option>
                            <option value="Débito">Débito</option>
                        </select>
                    </div>
                </div>
            </div>
            <hr class="mb-3" />
            <form id="Form_Nuevo_Usuario" hidden>
                <div class="row">

                    <div class="col-6">
                        <label>Nombres:</label>
                        <input class="form-control" name="Nombres" type="text" id="Nombres" placeholder="Ingrese su nombre." required>
                    </div>
                    <div class="col-6">
                        <label>Apellidos:</label>
                        <input class="form-control" name="Apellidos" type="text" id="Apellidos" placeholder="Ingrese su apellido.." required>
                    </div>
                    <div class="col-6">
                        <label>Cedula:</label>
                        <input class="form-control" name="Cedula" type="text" id="Cedula" placeholder="Digite su cedula." required>
                    </div>
                    <div class="col-6">
                        <label>Contacto1:</label>
                        <input class="form-control tel" name="Contacto_1" type="text" id="Contacto#1" placeholder="Digite su contacto #1." required>
                    </div>
                    @*<div class="col-6">
            <label>Contacto2:</label>
            <input class="form-control tel" name="Contacto2" type="text" id="Contacto#2" placeholder="Digite su contacto #2." required>
        </div>*@

                    <div class="col-6">
                        <label>Empleado:</label> <br />
                        <input class="Empleado_Radio" name="Empleado" type="radio" id="Empleado1" value="true" required> Si <br />
                        <input class="Empleado_Radio" name="Empleado" type="radio" id="Empleado2" value="false" required> No <br />

                    </div>
                    <div class="col-6">
                        <label>Correo:</label>
                        <input class="form-control" name="Correo" type="email" id="Correo" placeholder="Correo electronico." required>
                    </div>
                    <div class="col-6">
                        <label>Dirección:</label>
                        <input class="form-control" name="Direccion" type="text" id="Direccion" placeholder="Ingrese su Dirección.." required>
                    </div>
                    <div class="col-12" id="Campos_Empleado" style="display: none;">
                        <div class="row">
                            <div class="col-6">
                                <label>Empresa:</label>
                                <input class="form-control" name="Empresa" type="text" id="Empresa" placeholder="Ingrese empresa donde labora." required disabled>
                            </div>
                            <div class="col-6">
                                <label>Ocupación:</label>
                                <input class="form-control" name="Ocupacion" type="text" id="Ocupacion" placeholder="¿Qué cargo desempeña?." required disabled>
                            </div>
                            <div class="col-6">
                                <label>Salario:</label>
                                <input class="form-control" name="Salario" type="text" id="Salario" placeholder="Digite su salario." required disabled>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 mt-3"><button class="btn btn-primary" id="Btn_Solicitar">
                        <i class="fas fa-sign-in-alt"></i>
                        Solicitar
                        <span id="spinner_solicitar" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" hidden></span>
                    </button></div>
                </div>
            </form>

            <form id="Form_User_Registrado" hidden>

                <div class="row">
                    <div class="col-6">
                        <label>Cedula:</label>
                        <input class="form-control" name="Cedula" type="text" id="Cedula_Form_User_Registrado" placeholder="Digite su cedula." required>
                    </div>

                    <div class="col-6 mt-3">
                        <div class="col-12 mt-3"><button class="btn btn-primary btn-block" id="Btn_Solicitar2"><i class="fas fa-sign-in-alt"></i> Solicitar</button></div>

                    </div>

                </div>
                

            </form>
        </div>


        <div class="col-lg-6 col-sm-12" id="jumbotron" style="display:none;">
            <h3 class="text-center text-primary">
            </h3>
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h3>
                        CUENTAS DE AHORRO

                    </h3>
                    <p class="lead">
                        <strong>TE ACOMPAÑAMOS A DESARROLLAR NUEVOS PROYECTOS</strong>
                        Cuando nos necesites, ahí estaremos. Por eso te acompañamos para que puedas resolver tus compromisos de estudio o trabajo.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="border-success" id="Pregunta_New_Old">

        <p class="h1 text-primary text-center">¿Ya tienes cuentas con nosotros?</p>

        <div class="mt-4 container_Botones">
            <button onclick="Mostrar_Ocultar_Form('Viejo')" id="Registrado" class="btn btn-success mr-3">Si, tengo una cuenta</button>
            <button onclick="Mostrar_Ocultar_Form('Nuevo')" id="NewUser" class="btn btn-primary">No, soy nuevo</button>
        </div>



    </div>
</div>

@section Scripts{ 

    <script type="text/javascript">

        
        $(document).ready(function () { //Codigo a ejecutar cuando la página termine de cargar

            //Declaración de Mascaras

            $(".tel").mask('(000) 000-0000');
            $("#Cedula").mask('000-0000000-0');
            $("#Salario").mask('000,000,000', { reverse: true })


            //$(".Empleado_Radio").setCustomValidity("Debes seleccionar una opción");
        });


        



        $(".Empleado_Radio").change(function () {

            var valor = $(this).val();

            if (valor == "true") {

                $("#Campos_Empleado").show("fade");
                $("#Empresa").removeAttr("disabled");
                $("#Ocupacion").removeAttr("disabled");
                $("#Salario").removeAttr("disabled");


            } else {

                $("#Campos_Empleado").hide("fade");
                $("#Empresa").attr("disabled", true);
                $("#Ocupacion").attr("disabled", true);
                $("#Salario").attr("disabled", true);

            }



        })


        $("#Form_Nuevo_Usuario").submit(function () {

            //var valor_Salario = $("#Salario").val().replace(/,/g, "");

            //$("#Salario").val(valor_Salario);

            var data_cuentas_solicitadas = $("#Form_Nuevo_Usuario").serialize();

            console.log(data_cuentas_solicitadas)
            $("#spinner_solicitar").removeAttr("hidden", true);
            $.post("/Solicitudes/add_Solicitud_Cuentas", data_cuentas_solicitadas).done(function (resultado) {

                Swal.fire({
                    title: resultado.title,
                    text: resultado.text,
                    icon: resultado.icon
                });

                $("#Form_Nuevo_Usuario")[0].reset();
                $("#spinner_solicitar").attr("hidden", true);

            });

            

            return false;
        });

        $("#Form_User_Registrado").submit(function () {

            var data = { Tipo_Cuenta: $("#Campo_Tipo").val(), Cedula_recibida: $("#Cedula_Form_User_Registrado").val() }

            $.post('/Solicitudes/Crear_Cuenta_OldUser', data).done(function (result) {

                Swal.fire({
                    title: result.title,
                    text: result.text,
                    icon: result.icon
                })

            });

            $("#Form_User_Registrado")[0].reset();

            return false;
        });
       
        //Ajax de Práctica

        function Ejecutar_Peticion() {

            //Api de prueba: https://reqres.in/api/users?page

            $.get("https://reqres.in/api/users?page").done(function (res) {

                console.log(res);


            });


        }

        function Mostrar_Ocultar_Form(opcion) {

            if (opcion == "Nuevo") {

                $("#Pregunta_New_Old").hide();
                $("#jumbotron").show();

                $("#Form_Nuevo_Usuario").removeAttr("hidden");
                $("#Formulario_Solicitud_Cuenta").show("fade");

                
            } else {
                $("#Pregunta_New_Old").hide();
                $("#jumbotron").show();
                $("#Form_User_Registrado").removeAttr("hidden");
                $("#Formulario_Solicitud_Cuenta").show("fade");
            }

        }
    </script>

}