
@{
    ViewData["Title"] = "Perfil";
}

<h1>Perfil</h1>

@section Scripts{ 

    <script>

        $(document).ready(function () {

            $("li").removeClass("active");
            $("#li_Perfil").addClass("active");

        });


    </script>
} 